@model IEnumerable<FSTest.ViewModels.InvestorViewModel>
@{
    ViewBag.Title = "Investor Profit";
}
<br/>
<div>
    @if (Model != null)
    {
        <table class="table">
            <thead>
            <th>@Html.DisplayNameFor(x => x.InvestorName)</th>
            <th>@Html.DisplayNameFor(x => x.FundDescription)</th>
            <th>@Html.DisplayNameFor(x => x.TotalSigned)</th>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.InvestorName
                    </td>
                    <td>
                        @item.FundDescription
                    </td>
                    <td>
                        @item.TotalSigned
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No file selected.</p>
    }
</div>  